{%- liquid
  assign button_text = button_text | default: 'Click here'
  assign button_style = button_style | default: 'black'
-%}

<button class="button button--{{ button_style }}" type="button">
  {{ button_text }}
  <img src="{{ 'Arrow 1.svg' | asset_url }}" alt="Right Arrow Icon" width="25px" height="auto" >


</button>
