/* Mobile adjustments */
@media (max-width: 450px) {
  .banner__hero-middleText--desktop {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .mobile-menu-toggle {
    display: block;
  }
  .mobile-menu-toggle-container {
    display: flex;
  }

  .navbar-content {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .banner__middleText {
    display: none;
  }

  .mobile-menu .banner__middleText {
    display: block;
    font-size: 18px;
    text-align: center;
  }
  .banner__image {
    display: none;
  }
  .banner__hero-content{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:20px;
    padding: 0;
  }
  /* the button is above the image and centered */
  .banner__hero-image-container {
    background: url("../assets/banner_hero_mobile.png") no-repeat center center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 265px;
  }
  .banner__hero-image-container > img {
    display: none;
  }
  .banner__hero-image-container button {
    display: block;
    margin-bottom: 40px;
  }
  .banner__hero-content button {
    display: none;
  }
  .banner__hero {
    display: flex;
    flex-direction: column;
  }
  .banner__hero-title {
    font-size: 30px;
    padding: 0px;
  }
  .footer-text--desktop {
    display: none;
  }
  .footer-text--mobile {
    display: block;
  }
  .product-grid-title {
    font-size: 24px;
    text-align: center;
  }
  .custom-product-grid {
    margin: 20px;
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, 200px);
    gap: 10px;
  }
  .product-modal {
    min-width: 70%;
    padding: 15px;
  }
  .banner__hero-middleText--mobile{
    display: block;
  }
  #modal-base {
    gap: 10px;
  }

  #modal-base-left img#modal-image {
    width: 100px;
    height: 120px;
  }

  #modal-base-right {
    gap: 10px;
    padding-top: 25px;
    justify-content: end;
    max-height: fit-content;
    min-height: 100px;
  }
  #modal-base-middle-bottom {
    margin-bottom: 30px;
  }
  #modal-base-middle p {
    font-size: 12px;
    margin: 5px 0px;
  }
  .modal-content {
    padding: 0;
  }
  #modal-title {
    font-size: 12px;
  }

  #modal-price {
    font-size: 12px;
  }

  #modal-description {
    font-size: 10px;
    margin-right: 15px;
  }

  #modal-base-middle {
    font-size: 14px;
  }

  .selected-text,
  .dropdown-option {
    font-size: 14px;
    padding: 8px 12px;
  }

  #modal-base-bottom {
    margin-bottom: 15px;
    height: 45px;
  }

  #modal-base-bottom button {
    font-size: 14px;
    padding: 8px 12px;
  }
  .close-modal {
    padding: 0;
  }
  .close-modal img {
    width: 15px;
    height: 15px;
  }
}